<div class="section white">
  <div class="row container">
    <h4 class="header"> Circulation </h4>

    <ul id="circulation-col" class="collapsible" data-collapsible="accordion">

      <li>
        <div class="collapsible-header">London</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>A Cataolgue of Bell's Circulating Library<span class = "right"> 1778</span></p>
          </br>
          <b>Sale:</b>
          <p>A Catalogue Containing the Library of the Late Thomas Baynham <span class = "right"> 1783</span> </p>
          <p>T. Vernor's catalogue<span class = "right"> 1789</span> </p>
          <p>Lackington's catalogue<span class = "right"> 1792</span> </p>
          <p = "right"> 1793-4</p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Oxford</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>A New Catalogue of Palmer and Merrick's Circulating Library<span class = "right"> 1795</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Bristol</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>Shiercliff's Catalogue of Books<span class = "right"> 1799</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Exeter</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>A Catalogue of Dyer's Circulating Library<span class = "right"> 1783</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">York</div>
        <div class="collapsible-body">
          <b>Sale:</b>
          <p>A Catalogue of Several Libraries and Parcels of Books<span class = "right"> 1777</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Newcastle upon Tyne</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>A Cataolgue of R. Fisher's Circulating Library<span class = "right"> 1791</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Dublin</div>
        <div class="collapsible-body">
          <b>Sale:</b>
          <p>White's sale catalogue<span class = "right"> 1779</span> </p>
          <p = "right"> 1784</p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Cork</div>
        <div class="collapsible-body">
          <b>Sale:</b>
          <p>Catalogue of Books in Most Branches of Literature and Music<span class = "right"> 1785</span></p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Boston</div>
        <div class="collapsible-body">
          <b>Circulating:</b>
          <p>New Select Catalogue of Benjamin Guild's Circulating Library<span class = "right"> 1789</span></p>
          <p>Catalogue of Books for Sale and Circulation <span class = "right"> 1796</span> </p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Philadelphia</div>
        <div class="collapsible-body">
          <b>Sale:</b>
          <p>Prichard's Sale Catalogue<span class = "right"> 1788</span></p>
        </div>
      </li>

    </ul>

  <p class="indigo-text indigo-lighten-2">Note: Not meant to be an exhaustive list; Only includes catalogues from Eighteenth Century Collection Online. Titles shortened for brevity.</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><%=image_tag("vintage.jpg", alt: "Background Image of Vintage Paper")%></div>
</div>
