<div class="container">
  <%= form_for @bib do |f| %>
    <p><%= f.label :options %></p>
    <p><%= f.text_area :options %></p>

    <p><%= f.submit :label => "Submit", :class => "btn waves-effect light-green lighten-1"%></p>

  <%end%>
</div>
