<div class="section white">
  <div class="row container">
    <h4 class="header">Pagination and Format:</h4>
    <p>Format: Duodecimo</p>
    <div class="row">
      <div class="col s-4">
        <div class="card">
          <div class="card-title">
            Volume I
          </div>
          <div class="card-content">
            <ul class="bullet">
              <li>Contains 256 Pages numbered 1-256</li>
              <li>Title page followed by text</li>
              <li>No additional front matter</li>
              <li>No back matter </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s-4">
        <div class="card">
          <div class="card-title">
            Volume II
          </div>
          <div class="card-content">
            <ul class="bullet">
              <li>Contains 273 Pages numbered 1-273</li>
              <li>Title page followed by text</li>
              <li>No additional front matter</li>
              <li>No back matter </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s-4">
        <div class="card">
          <div class="card-title">
            Volume III
          </div>
          <div class="card-content">
            <ul class="bullet">
              <li>Contains 232 Pages numbered 1-232</li>
              <li>Title page followed by text</li>
              <li>No additional front matter</li>
              <li>No back matter </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="indigo-text indigo-lighten-2">Note: Each volume follows the same format, beginning with the title page and proceeding directly to page 1, where the title (shortened to <i>The Mutability of Human Life & etc </i>) is repeated, followed by the text of the novel. </p>
  </div>
  </div>
<div class="parallax-container">
  <div class="parallax"><%=image_tag("vintage.jpg", alt: "Background Image of Vintage Paper")%></div>
</div>
