<h2 class="header">This novel is written in <b>epistalary</b> form.</h2>
<p class="indigo-text indigo-lighten-2"> The tone and diction of the novel was criticized by contemporaries for being too vulgar and sentimental. </p>
