<h4>This novel is written in <b>epistalary</b> form.</h4>
<p class="indigo-text indigo-lighten-2"> The tone and diction of the novel was criticized by contemporaries for being too vulgar and sentimental. </p>
