<h1> The Mutability of Human Life;</h1>
<h3> or, Memoirs of Adelaide, Marchioness of Melville</h3>

<%= render 'form'%>

<div class="row">
   <div class="col s12 m6">
    <div class = "card center">
      <div class = "card-content brown lighten-5">
        <p>Enter what you would like to know in a comma seperated list.</p>
        <p>Options are listed below -- please use exact wording!</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="col s2"><a href="#basic">Traditional</a></li>
          <li class="col s2"><a href="#reviews">Reviews</a></li>
          <li class="col s2"><a href="#other">Other</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
          <div id="basic">Title, Author, Publish Date, Pagination, Format, Contents, Notes</div>
          <div id="reviews">Style, Reviews</div>
          <div id="other">Idk I haven't planned this far ahead?</div>
        </div>
    </div>
  </div>
</div>

<script>
    $('ul.tabs').tabs();
</script>
