<!--TODO:
* Technically, you could end here! - Well, after the sources don't forget the sources!
* don't.
* Next big priority is aesthetic / figuring out why that dumbass card won't work
* Then add more content - idk what yet?
* Lastly, worry about adding the edit form to the sidebar; should be easy honestly?
* Correct spelling of additional, smart one.
* Polish it up!-->

<h1> The Mutability of Human Life;</h1>
<h3> or, Memoirs of Adelaide, Marchioness of Melville</h3>

<%= render 'form'%>

<div class="row">
   <div class="col s12 m8">
    <div class = "card">
      <div class = "card-content brown lighten-5">
        <p>Enter what you would like to know.</p>
        <p>Options are listed below -- please use exact wording!</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="col s2 orange-text"><a href="#basic">Physicality</a></li>
          <li class="col s2 orange-text"><a href="#pub">Publishing Information</a></li>
          <li class="col s2 orange-text"><a href="#text">About the Text</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
          <div id="basic">Pagination</div>
          <div id="pub">author, date, publisher, for, location</div>
          <div id="text">style</div>
        </div>
    </div>
  </div>
</div>

<script>
    $('ul.tabs').tabs();
</script>
