<h1> The Mutability of Human Life </h1>
<h4> Or, Memoirs of Adelaide, Marchioness of Melville </h4>
<p> You would like to display: <%= @bib.options %> </p>
<p> We recognized: <%= @display %>
<% @display.each do |partial| %>
  <%= render partial %>
<%end%>
<!--#TODO: Add non-optional source button thing here!!-->
