// Place all the styles related to the Bibs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  text-align: center;
  padding-top: none;
  margin-top: none;
  color: #304;
}

a{
  text-decoration: none;
  color: #111111;
}

.parallax-container {
  height: 350px;
}
