<!DOCTYPE html>
<html>
  <head>
    <title>The Mutability of Human Life</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "section brown lighten-5">
      <h1> The Mutability of Human Life </h1>
      <h4> Or, Memoirs of Adelaide, Marchioness of Melville </h4>
    </div>

    <%= yield %>

  </body>
</html>
